.reveal section img {
  border: 0;
  box-shadow: none;
}

img.stars {
  vertical-align: middle;
}

h1 {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 900;
}

.reveal pre {
  /* width: 120%; */
  /* margin-left: -10%; */
  border: 0;
  box-shadow: none !important;
}

.reveal a {
  color: #000;
  text-decoration: underline;
}

.reveal a:hover {
  color: #777;
  text-decoration: underline;
}

.reveal a.black {
  text-decoration: none;
}

.reveal a.black:hover {
  color: #777;
  text-decoration: underline;
}

